body{
    background-image: url(../images/back2.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */}


.login-title{
    font-weight: bold;
    font-size: 1.7rem;
    color: #0062cc;
    margin-bottom: 1rem;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.login{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
