* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;

}

/* Style the navigation bar */
.nav-bar {
  margin: 0px;
  display: flex;
  /* position: sticky;
  top: 0; */
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

.left-nav *{
  padding: 5px;
  text-decoration: none;
}

.right-nav{
  display: flex;
  align-items: center;
  
}

.log-out{
  margin-left: 10px;
  display: flex;
}

#logOut{
  text-decoration: none;
  margin-left: 15px;
}
.user-pic{
  width: 50px;
  height: 50px;
}

.main{
  display: flex;
  height: 100%;
}

.product-list-last{
  display: flex;
  width: 100%;
  flex-basis: 80%;
  flex-direction: column;
  background-color: darkseagreen;
  /* align-items: center; */
  align-content: center;
  justify-content: baseline;
  /* height: 80vh; */
}

.latest-order{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: dotted;
  padding-top: 8px;
}

.latestOrder-title{
  left: 0;
}

.order-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.item-img{
  width: 75px;
}

.products-list{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-style: solid; */
  height: 100%;
}

.produts-list-title{
    margin: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}
.items-list{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.item:hover{
  cursor: pointer;
}

.item div{
  margin-top: 5px;
  font-size: 16px;
}




.order-data{
  flex-basis: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}


.list_element{
  display: flex;
  /* align-items: flex-start;
  justify-content: space-evenly; */

}

.item-name{
  /* position: fixed;
  left: 0; */
  max-width:  30px;
  margin-right: 30px;
}
.item-input{
  display: flex;
}

.item-input input{
  width: 50%;
}


/* Container for flexboxes*/

/* 
.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
  height: 100vh;
}

.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: center;
  flex-wrap: wrap;
}

.latestOrder,.availableProducts{
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 10%;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.list_element{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.orderFooter{
  align-self: flex-end;
}


textarea {
  resize: none;
}

#notes {
  display: block;
}

 */
